<launch>
    <arg name = "pkg" default = "$(find hough_circle_detector)" />
    <arg name = "image_out_topic" default = "/image_out" />
    <arg name = "image_in_topic" default = "/image_in" />

    <node name="hough_circle_detector" pkg="hough_circle_detector" type="circle_detector_class_node" output="screen">
	    <param name="detector_params" value="$(arg pkg)/data/houghparams.yml"/>
    	<param name="circle_detector_server_name" value="circle_detector_server"/>
    	<param name="image_in_topic" value="$(arg image_in_topic)"/>
    	<param name="image_out_topic" value="$(arg image_out_topic)"/>
    </node> 
    <node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug" args="$(arg image_out_topic)"/>
</launch>
